<template>

  <header class="border-b border-gray-200 w-full">
    <div class="container mx-auto">
      <nav class="p-4 gap-y-1.5 flex flex-col sm:flex sm:flex-row items-center justify-between font-medium ">
        <div class="sm:text-xl text- mb-4 sm:mb-0 sm:order-none text-indigo-600 order-first">Resturant Name</div>
        <div class="flex items-center" v-if="authUser">
          <Popover class="relative">
            <PopoverButton class="inline-flex items-center gap-x-1 text-base font-semibold leading-6 text-gray-900">
              <span class="mr-1" v-if="authUser">{{ authUser.name }}</span>
              <ChevronDownIcon class="h-4 w-4" aria-hidden="true" />
            </PopoverButton>

            <transition enter-active-class="transition ease-out duration-200" enter-from-class="opacity-0 translate-y-1" enter-to-class="opacity-100 translate-y-0" leave-active-class="transition ease-in duration-150" leave-from-class="opacity-100 translate-y-0" leave-to-class="opacity-0 translate-y-1">
              <PopoverPanel class="absolute sm:-left-32 left-1/2 z-10 mt-5 flex w-screen max-w-max -translate-x-1/2 px-4">
                <div class="w-screen max-w-md flex-auto overflow-hidden rounded-3xl bg-white text-base leading-6 shadow-lg ring-1 ring-gray-900/5">
                  <div class="p-4">
                    <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
                      <div><Link href="/orders"> Your Orders</Link></div>
                    </div>
                    <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">

                        <Link href="/orders/create">
                          Create New Order
                        </Link>

                    </div>
                    <div class="group relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50">
                      <Link method="DELETE" :href="route('logout')">Logout</Link>
                    </div>
                  </div>
                </div>
              </PopoverPanel>
            </transition>
          </Popover>
        </div>
        <div v-else>
          <MainButton>
            <Link href="/">Sign In</Link>
          </MainButton>
          <MainButton class="bg-red-800 ml-4">
            <Link href="/user-account/create">Register</Link>
          </MainButton>
        </div>
      </nav>
    </div>

  </header>
  <main class="container mx-auto p-4">
    <div v-if="$page.props.flash.message"
      class="input-error">
      <span> {{ $page.props.flash.message }}</span>
    </div>
    <slot>Default</slot>
  </main>


</template>

<script setup>

import { Popover, PopoverButton, PopoverPanel } from '@headlessui/vue'
import { ChevronDownIcon, PhoneIcon, PlayCircleIcon } from '@heroicons/vue/20/solid'
import {
  ArrowPathIcon,
  ChartPieIcon,
  CursorArrowRaysIcon,
  FingerPrintIcon,
  SquaresPlusIcon,
} from '@heroicons/vue/24/outline'

import  MainButton  from './MainButton.vue'
import { Link, usePage } from '@inertiajs/vue3'
import { computed } from 'vue'



  const page = usePage()
  const authUser = computed(
    () => page.props.user
  )


</script>