<template>
  <button
    class="sm:text-base text-sm bg-indigo-600 hover:bg-indigo-500
           text-white font-medium p-1.5  rounded-md transition delay-140"
    >
    <slot></slot>
  </button>
</template>