@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  textarea {
    @apply w-full text-base font-medium mb-4;
  };
  .input-error {
    @apply  font-medium mb-4 border rounded-md shadow-sm  bg-green-100 p-2;
  }
  .label {
    @apply block mb-1 text-gray-500 font-medium
  }
  .input {
    @apply block w-full p-2 rounded-md shadow-sm border border-gray-300 text-gray-500
  }
}

