<template>
  <h2 class="text-base sm:text-lg  text-gray-500 font-medium mb-4">Create new order</h2>
  <div>
    <form @submit.prevent="submit">
      <div v-if="form.errors.order_content" class="input-error">{{ form.errors.order_content }}</div>
      <textarea type="text" placeholder="Type your orders" v-model="form.order_content"></textarea>
      <MainButton type="submit" class="p-2">Send</MainButton>
    </form>
  </div>
</template>

<script setup>

import {  useForm } from '@inertiajs/vue3'
import MainButton from '@/Layout/MainButton.vue';

const form  = useForm({
  order_content : ''
})

function submit() {
  form.post('/orders', form)
}


</script>