<template>
<h2 class="text-base sm:text-lg  text-gray-500 font-medium mb-4">Edit the order</h2>
  <form @submit.prevent="edit">
    <div v-if="form.errors.order_content">{{ form.errors.order_content }}</div>
    <textarea type="text" placeholder="Type your orders" v-model="form.order_content"></textarea>
    <MainButton><button type="submit">Send</button></MainButton>
  </form>
</template>

<script setup>

import {  useForm } from '@inertiajs/vue3'

import MainButton from '@/Layout/MainButton.vue';

const props = defineProps({
  order: {
    type: Object
  }
});

const form  = useForm({
  order_content : props.order.order_content
})

function edit() {
  form.put(route('orders.update', props.order.id), form)
}
</script>