<template>
  <BoxComponent v-for="order in orders" :key="order.id">
    <p class="mb-3 text-lg md:text-base">{{ order.order_content }}</p>
    <MainButton><Link :href="route('orders.edit', order.id)">Edit</Link></MainButton>
    <MainButton class="ml-2 bg-red-800 hover:bg-red-700"><Link :href="route('orders.destroy', order.id)" method="DELETE" >Delete</Link></MainButton>
  </BoxComponent>
</template>

<script setup>

import { Link } from '@inertiajs/vue3';
import MainButton from '@/Layout/MainButton.vue';
import BoxComponent from '@/Layout/BoxComponent.vue'

const props = defineProps({
  'orders': String,
});


</script>