<template>
<form @submit.prevent="login">
    <div class="w-1/2 mx-auto">
      <div>
        <label for="email" class="label">E-mail</label>
        <input id="email" v-model="form.email" type="text" class="input" />
        <div class="input-error" v-if="form.errors.email">{{form.errors.email}}</div>
      </div>
      <div class="mt-4">
        <label for="password" class="label">Password</label>
        <input id="password" v-model="form.password" type="password" class="input" />
        <div class="input-error" v-if="form.errors.password">{{form.errors.password}}</div>
      </div>
      <div class="mt-4">
        <MainButton class="w-full" type="submit">Login</MainButton>
      </div>
    </div>
  </form>
</template>

<script setup>
import MainButton from '@/Layout/MainButton.vue';

import { useForm } from '@inertiajs/vue3';

const form = useForm({
  email : '',
  password: ''
})
const login = () => form.post(route('login.store'))
</script>

